#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
.cell {
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px;
  font-size: 24px;
  cursor: pointer;
}
